/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.audience {
  grid-row: 2;
  grid-column: 1;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: audience;
  background-color: white;
  border: 1px solid #EBEBEB;
  border-radius: 13px;
  width: 768px;
  padding: 24px;
}

.audience .audience__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 29px;
}

.audience__date {
  font-family: 'Gilroy';
  font-size: 12px;
  line-height: 24px;
  color: #4F4F4F;
  margin-left: 138px;
}

.audience__date::before {
  content: '';
  position: absolute;
  top: 7px;
  left: 505px;
  width: 5px;
  height: 5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-right: 1px solid #4F4F4F;
  border-bottom: 1px solid #4F4F4F;
}

.audience__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 104px;
  margin-right: 50px;
}

.box__container {
  position: relative;
  font-family: 'Gilroy';
  font-size: 12px;
  line-height: 24px;
  color: #4F4F4F;
  font-family: 'Gilroy SemiBold';
  cursor: pointer;
}

.box__container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.audience__checkmark {
  position: absolute;
  top: 3px;
  left: -21px;
  height: 16px;
  width: 16px;
  border-radius: 5px;
  border: 1.5px solid #7F7FD5;
}

.box--red {
  border: 1.5px solid #E786D7;
}

.audience__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.box__container input:checked ~ .audience__checkmark:after {
  display: block;
}

.audience__checkmark:after {
  left: 4px;
  top: 2px;
  width: 3px;
  height: 5px;
  border: solid #7F7FD5;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.audience__graph {
  width: 716px;
  height: 141px;
  background: url(/src/img/drawing/audience.png) no-repeat center/contain;
}

.rect {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 344px 35px 333px 40px 53px 288px;
      grid-template-columns: 344px 35px 333px 40px 53px 288px;
      grid-template-areas: " friends . visitors visitors followers followers"  "audience audience audience audience audience device" "gender-age gender-age gender-age geo geo geo";
  grid-gap: 32px 0;
  width: 100%;
  height: 87%;
  background-color: #bacadad5;
  padding: 30px 38px 40px 49px;
  -ms-grid-rows: 20%;
      grid-template-rows: 20%;
}

.graph__container {
  margin-left: -20px;
  overflow-x: auto;
}

.device {
  position: relative;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  -ms-grid-column: 6;
  grid-area: device;
  background-color: white;
  border: 1px solid #EBEBEB;
  border-radius: 13px;
  width: 288px;
  padding: 24px;
  padding-right: 10px;
}

.device__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 38px;
}

.device__chart {
  position: relative;
  width: 121px;
  height: 121px;
  background: url(/src/img/drawing/ellips-blue.png) no-repeat center/cover;
  font-family: 'Gilroy';
  font-size: 12px;
  line-height: 24px;
  color: #FDFDFF;
}

.device__percent {
  -webkit-transform: translate(26px, 54px);
          transform: translate(26px, 54px);
}

.device__chart::before {
  content: '';
  position: absolute;
  top: 7px;
  left: 77px;
  width: 61px;
  height: 47px;
  background: url(/src/img/drawing/triangle-pink.png) no-repeat center/contain;
}

.device__chart::after {
  content: '14%';
  position: absolute;
  top: 25px;
  left: 106px;
}

.device__names {
  position: relative;
  margin-left: 59px;
  font-family: 'Gilroy';
  font-size: 12px;
  line-height: 24px;
  color: #4F4F4F;
  font-family: 'Gilroy SemiBold';
}

.device__name {
  margin-bottom: 11px;
  line-height: 14px;
}

.device__name::before {
  content: '';
  position: absolute;
  top: 24px;
  left: -23px;
  width: 16px;
  height: 16px;
  background-color: #7F7FD5;
  border-radius: 5px;
}

.device__name::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -23px;
  width: 16px;
  height: 16px;
  background-color: #E786D7;
  border-radius: 5px;
}

.nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 880px;
  width: 98px;
  background-color: white;
  border-bottom-left-radius: 14px;
  border-top-left-radius: 14px;
  padding: 46px 24px;
  overflow: hidden;
}

.nav__logo {
  width: 42px;
  height: 44px;
  background: url(/src/img/nav-img/vk-logo.png) no-repeat center/contain;
}

.nav__location {
  position: relative;
  height: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__link--home {
  background: url(/src/img/nav-img/home.png);
}

.nav__link--news {
  background: url(/src/img/nav-img/news.png);
}

.nav__link--friends {
  background: url(/src/img/nav-img/friends.png);
}

.nav__link--messages {
  background: url(/src/img/nav-img/messenge.png);
}

.nav__link--media {
  background: url(/src/img/nav-img/play.png);
}

.nav__link--statistics {
  background: url(/src/img/nav-img/statistics.png);
}

.nav__link--settings {
  background: url(/src/img/nav-img/setting.png);
}

.nav__link {
  width: 98px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: none;
}

.nav__link :hover {
  cursor: pointer;
  -webkit-filter: invert(51%) sepia(76%) saturate(330%) hue-rotate(201deg) brightness(89%) contrast(89%);
          filter: invert(51%) sepia(76%) saturate(330%) hue-rotate(201deg) brightness(89%) contrast(89%);
}

.nav__link :hover::before {
  left: -45px;
  display: block;
}

.nav__decoration input[type='checkbox'] {
  visibility: hidden;
  display: none;
}

.nav__decoration .nav__box {
  display: block;
  position: relative;
  width: 60px;
  height: 30px;
  background: #ffffff;
  border: 1px solid #4F4F4F;
  cursor: pointer;
  border-radius: 50px;
  -webkit-transition: ease-in .6s;
  transition: ease-in .6s;
}

.nav__decoration input[type='checkbox']:checked ~ .nav__box {
  background-color: #7F7FD5;
}

.nav__decoration .nav__box:before {
  content: '';
  position: absolute;
  top: 4px;
  left: 5px;
  background-color: #7F7FD5;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-transition: .6s;
  transition: .6s;
}

.nav__decoration input[type='checkbox']:checked ~ .nav__box:before {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
  background-color: #ffffff;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  max-width: 1280px;
  min-height: 880px;
  height: 100%;
  margin: 0 auto;
  margin-top: calc(5vh - 25px);
  margin-bottom: 20px;
  background-color: #DFE6F1;
  border: 1px solid #EFF3F9;
  border-radius: 14px;
}

.wrapper::before {
  content: '';
  position: fixed;
  width: 1500px;
  height: 806px;
  top: 0;
  left: calc(50% - 810px);
  background: url(/src/img/drawing/blob.png) no-repeat center/cover;
  z-index: -1;
}

.wrapper::after {
  content: '';
  position: fixed;
  width: 413px;
  height: 413px;
  top: 800px;
  right: calc(50% - 873px);
  background: -webkit-gradient(linear, left top, left bottom, from(#7F7FD5), to(#E786D7));
  background: linear-gradient(#7F7FD5, #E786D7);
  border-radius: 50%;
  z-index: 5;
}

.gender {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: gender-age;
  background-color: white;
  border: 1px solid #EBEBEB;
  border-radius: 13px;
  width: 675px;
  padding: 24px;
}

.gender__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 21px;
}

.gender__names {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100px;
  margin-right: 40px;
  font-family: 'Gilroy';
  font-size: 12px;
  line-height: 24px;
  color: #4F4F4F;
  font-family: 'Gilroy SemiBold';
}

.gender__name::before {
  content: '';
  position: absolute;
  top: 4px;
  left: -23px;
  width: 16px;
  height: 16px;
  border-radius: 5px;
  background-color: #E786D7;
}

.gender__name::after {
  content: '';
  position: absolute;
  top: 4px;
  left: 54px;
  width: 16px;
  height: 16px;
  border-radius: 5px;
  background-color: #7F7FD5;
}

.gender__graph {
  width: 631px;
  height: 167px;
  background: url(/src/img/drawing/Gender.png) no-repeat center/cover;
}

.geo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-area: geo;
  background-color: white;
  border: 1px solid #EBEBEB;
  border-radius: 13px;
  width: 381px;
  padding: 24px;
}

.geo .geo__title {
  display: inline;
}

.geo .geo__names {
  display: inline;
  margin-top: 3px;
}

.geo .geo__country {
  font-family: 'Gilroy';
  font-size: 12px;
  line-height: 24px;
  color: #4F4F4F;
  font-family: 'Gilroy SemiBold';
  text-decoration: none;
}

.geo .geo__city {
  font-family: 'Gilroy';
  font-size: 12px;
  line-height: 24px;
  color: #979797;
  text-decoration: none;
  margin-left: 10px;
}

.geo .geo__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 360px;
  height: 170px;
  font-family: 'Gilroy';
  font-size: 12px;
  line-height: 24px;
  color: #4F4F4F;
}

.geo .geo__item {
  display: inline;
  margin-top: 20px;
  margin-right: 20px;
}

.geo .geo__bar {
  background-color: #EFF3F9;
  border-radius: 9px;
}

.geo .geo__bar::-webkit-progress-bar {
  background-color: #EFF3F9;
  border-radius: 9px;
}

.geo .geo__bar::-webkit-progress-value {
  border-radius: 9px;
  background-color: #7F7FD5;
}

.geo .russia {
  display: inline;
}

.geo .russia .geo:after {
  content: '94%';
  position: absolute;
  left: 28%;
  color: #979797;
}

.geo .ukraine {
  display: inline;
}

.geo .ukraine .geo:after {
  content: '0,20%';
  position: absolute;
  left: 25%;
  color: #979797;
}

.geo .mongolia {
  display: inline;
}

.geo .mongolia .geo:after {
  content: '0,13%';
  position: absolute;
  left: 26%;
  color: #979797;
}

.geo .china {
  display: inline;
}

.geo .china .geo:after {
  content: '0,26%';
  position: absolute;
  left: 75%;
  color: #979797;
}

.geo .usa {
  display: inline;
}

.geo .usa .geo:after {
  content: '0,20%';
  position: absolute;
  left: 75%;
  color: #979797;
}

.geo .other {
  display: inline;
}

.geo .other .geo:after {
  content: '1.37%';
  position: absolute;
  left: 76%;
  color: #979797;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  min-height: 50px;
  padding: 43px 38px 15px 49px;
  border-top-right-radius: 18px;
  background-color: #bacadad5;
}

.header .header__container {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__container::before {
  content: '';
  position: absolute;
  top: 13px;
  left: 171px;
  width: 10px;
  height: 10px;
  background: url(/src/img/header-img/glass.svg) no-repeat center/contain;
}

.header .header__title {
  font-family: 'Gilroy Bold';
  font-size: 30px;
  line-height: 36px;
  color: #4F4F4F;
}

.header .header__search {
  width: 153px;
  height: 32px;
  border-radius: 8px;
  border: 1px solid #EBEBEB;
  font-family: 'Gilroy Bold';
  font-size: 12px;
  line-height: 14px;
  color: #4F4F4F;
  margin-left: 45px;
  padding-left: 38px;
  text-transform: capitalize;
}

.header .header__search::-webkit-input-placeholder {
  font-family: 'Gilroy';
  color: #979797;
}

.header .header__search:-ms-input-placeholder {
  font-family: 'Gilroy';
  color: #979797;
}

.header .header__search::-ms-input-placeholder {
  font-family: 'Gilroy';
  color: #979797;
}

.header .header__search::placeholder {
  font-family: 'Gilroy';
  color: #979797;
}

.header .header__icon {
  height: 22px;
  width: 22px;
  background: url(/src/img/header-img/bell.png) no-repeat center/contain;
  margin-left: 25px;
}

.header .header__icon:active {
  position: relative;
  top: 2px;
}

.header .header__account {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__name {
  font-family: 'Gilroy SemiBold';
  font-size: 20px;
  color: #4F4F4F;
}

.header .header__avatar {
  width: 50px;
  height: 50px;
  background-color: white;
  background: url(/src/img/header-img/avatar.svg) no-repeat center/contain;
  margin-left: 13px;
  margin-right: 25px;
  -webkit-filter: drop-shadow(1px 1px 0 #EBEBEB) drop-shadow(-1px -1px 0 #EBEBEB);
          filter: drop-shadow(1px 1px 0 #EBEBEB) drop-shadow(-1px -1px 0 #EBEBEB);
}

.header .header__avatar::before {
  content: '';
  position: absolute;
  top: 19px;
  right: -16px;
  width: 5px;
  height: 5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-right: 2px solid #4F4F4F;
  border-bottom: 2px solid #4F4F4F;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.header .header__avatar:focus::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.friends {
  position: relative;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: friends;
  background-color: white;
  border: 1px solid #EBEBEB;
  border-radius: 13px;
  width: 341px;
  padding: 24px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
}

.visitors {
  position: relative;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: visitors;
  background-color: white;
  border: 1px solid #EBEBEB;
  border-radius: 13px;
  width: 341px;
  padding: 24px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
}

.followers {
  position: relative;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: followers;
  background-color: white;
  border: 1px solid #EBEBEB;
  border-radius: 13px;
  width: 341px;
  padding: 24px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
}

.rect__bundle {
  -ms-grid-column-align: end;
      justify-self: end;
  width: 5px;
  height: 5px;
  background-color: #979797;
  border-radius: 50%;
  margin-top: 10px;
}

.rect__bundle::before {
  content: '';
  position: absolute;
  top: 24px;
  right: 35px;
  width: 5px;
  height: 5px;
  background-color: #979797;
  border-radius: 50%;
  margin-top: 10px;
}

.rect__bundle::after {
  content: '';
  position: absolute;
  top: 24px;
  right: 46px;
  width: 5px;
  height: 5px;
  background-color: #979797;
  border-radius: 50%;
  margin-top: 10px;
}

.rect__text {
  font-family: 'Gilroy';
  font-size: 20px;
  line-height: 24px;
  color: #4F4F4F;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.rect__numbers {
  font-family: 'Gilroy';
  font-size: 20px;
  line-height: 24px;
  color: #979797;
  margin-right: 20px;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: end;
      justify-self: end;
}

.rect__numbers--middle {
  font-family: 'Gilroy';
  font-size: 20px;
  line-height: 24px;
  color: #979797;
  margin-right: 20px;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: end;
      justify-self: end;
}

.rect__numbers::before {
  content: '';
  position: absolute;
  bottom: 32px;
  right: 18px;
  width: 8px;
  height: 8px;
  border-left: 2px solid #7F7FD5;
  border-bottom: 2px solid #7F7FD5;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.rect__numbers::after {
  content: '';
  position: absolute;
  bottom: 30px;
  right: 22px;
  width: 2px;
  height: 12px;
  background-color: #7F7FD5;
  border-radius: 1px;
}

.rect__numbers--middle::before {
  content: '';
  position: absolute;
  bottom: 30px;
  right: 18px;
  width: 8px;
  height: 8px;
  border-right: 2px solid #E786D7;
  border-top: 2px solid #E786D7;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.rect__numbers--middle::after {
  content: '';
  position: absolute;
  bottom: 30px;
  right: 22px;
  width: 2px;
  height: 12px;
  background-color: #E786D7;
  border-radius: 1px;
}
